{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row">
 		<div class="col-sm-6 col-md-4">
 		<br>
			<div class="thumbnail">
			      <img src="{{STATIC_URL}}img/jhonazsh.jpg" data-src="holder.js/300x200" alt="...">
			      <div class="caption">
			        <h3>Jhonazsh</h3>
			        <p><b>Nombre:</b> Jhon Medina</p>
			        <p><b>Descripción:</b> Desarrollador Web orientado al FrotEnd, dominando tecnologías como JQuery, JavaScript, HTML5, CSS3, Responsive Web Design, y un poco de Backbone.js.</p>
			        <p><b>Redes Sociales:</b></p>
			        <p>
			        	<a href="#" class="btn btn-primary" role="button"><span class="icon-facebook"></span>Facebook</a> 
			        	<a href="#" class="btn btn-primary" role="button"><span class="icon-twitter"></span>Twitter</a>
			        	<a href="#" class="btn btn-primary" role="button"><span class="icon-googleplus"></span>    Google +</a>
			        </p>
			      </div>
			    </div>
			  </div>
		<div class="col-md-8">
		<br>
			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title">Preguntas Hechas en DevAsk</h3>

			  </div>
			  <div class="panel-body">
			    <h4>¿Por qué me sale un error en la instalación Django en windows? </h4>
				<blockquote class="bloquesito">
				  <p class="bg-info bg-info-customize">Vistos <span>0</span></p>
				  <p class="bg-warning bg-info-customize">Respuestas <span>0</span></p>
				  <p class="bg-success bg-info-customize">Votos <span>0</span></p>
				  <p class="bg-success bg-fecha-customize">Publicado hace: <span>30 min</span></p>
				  <p class="tags">
				  	<span>Etiquetas:</span>
				  	<button type="button" class="btn btn-default btn-xs">Django 1.5</button>
				  	<button type="button" class="btn btn-default btn-xs">Django 1.6</button>
				  	<button type="button" class="btn btn-default btn-xs">Node</button>
				  </p>
				</blockquote>
				<hr>

				<h4>¿Por qué me sale Error 500 en Django? </h4>
				<blockquote class="bloquesito">
				  <p class="bg-info bg-info-customize">Vistos <span>0</span></p>
				  <p class="bg-warning bg-info-customize">Respuestas <span>0</span></p>
				  <p class="bg-success bg-info-customize">Votos <span>0</span></p>
				  <p class="bg-success bg-fecha-customize">Publicado hace: <span>3 hr</span></p>
				  <p class="tags">
				  	<span>Etiquetas:</span> 
				  	<button type="button" class="btn btn-default btn-xs">Node</button>
				  	<button type="button" class="btn btn-default btn-xs">Django 1.6</button>
				  </p>
				</blockquote>
				<hr>

				<h4>¿Qué es mejor Vistas basadas en clases o vistas basadas en funciones? </h4>
				<blockquote class="bloquesito">
				  <p class="bg-info bg-info-customize">Vistos <span>0</span></p>
				  <p class="bg-warning bg-info-customize">Respuestas <span>0</span></p>
				  <p class="bg-success bg-info-customize">Votos <span>0</span></p>
				  <p class="bg-success bg-fecha-customize">Publicado hace: <span>4 hr</span></p>
				  <p class="tags">
				  	<span>Etiquetas:</span>
				  	<button type="button" class="btn btn-default btn-xs">VBC</button>
				  	<button type="button" class="btn btn-default btn-xs">VBF</button>
				  </p>
				</blockquote>
				<hr>

				<h4>¿Cómo usar multisettings de django en un proyecto? </h4>
				<blockquote class="bloquesito">
				  <p class="bg-info bg-info-customize">Vistos <span>0</span></p>
				  <p class="bg-warning bg-info-customize">Respuestas <span>0</span></p>
				  <p class="bg-success bg-info-customize">Votos <span>0</span></p>
				  <p class="bg-success bg-fecha-customize">Publicado hace: <span>15 hr</span></p>
				  <p class="tags">
				  	<span>Etiquetas:</span>
				  	<button type="button" class="btn btn-default btn-xs">Django 1.6</button>
				  </p>
				</blockquote>
                <hr>

				<h4>¿Cómo usar multisettings de django en un proyecto? </h4>
				<blockquote class="bloquesito">
				  <p class="bg-info bg-info-customize">Vistos <span>0</span></p>
				  <p class="bg-warning bg-info-customize">Respuestas <span>0</span></p>
				  <p class="bg-success bg-info-customize">Votos <span>0</span></p>
				  <p class="bg-success bg-fecha-customize">Publicado hace: <span>15 hr</span></p>
				  <p class="tags">
				  	<span>Etiquetas:</span>
				  	<button type="button" class="btn btn-default btn-xs">Django 1.6</button>
				  </p>
				</blockquote>
				<hr>

				<h4>¿Cómo usar multisettings de django en un proyecto? </h4>
				<blockquote class="bloquesito">
				  <p class="bg-info bg-info-customize">Vistos <span>0</span></p>
				  <p class="bg-warning bg-info-customize">Respuestas <span>0</span></p>
				  <p class="bg-success bg-info-customize">Votos <span>0</span></p>
				  <p class="bg-success bg-fecha-customize">Publicado hace: <span>15 hr</span></p>
				  <p class="tags">
				  	<span>Etiquetas:</span>
				  	<button type="button" class="btn btn-default btn-xs">Django 1.6</button>
				  </p>
				</blockquote>
				<hr>

				<h4>¿Cómo usar multisettings de django en un proyecto? </h4>
				<blockquote class="bloquesito">
				  <p class="bg-info bg-info-customize">Vistos <span>0</span></p>
				  <p class="bg-warning bg-info-customize">Respuestas <span>0</span></p>
				  <p class="bg-success bg-info-customize">Votos <span>0</span></p>
				  <p class="bg-success bg-fecha-customize">Publicado hace: <span>15 hr</span></p>
				  <p class="tags">
				  	<span>Etiquetas:</span>
				  	<button type="button" class="btn btn-default btn-xs">Django 1.6</button>
				  </p>
				</blockquote>
				<hr>

				<h4>¿Cómo usar multisettings de django en un proyecto? </h4>
				<blockquote class="bloquesito">
				  <p class="bg-info bg-info-customize">Vistos <span>0</span></p>
				  <p class="bg-warning bg-info-customize">Respuestas <span>0</span></p>
				  <p class="bg-success bg-info-customize">Votos <span>0</span></p>
				  <p class="bg-success bg-fecha-customize">Publicado hace: <span>15 hr</span></p>
				  <p class="tags">
				  	<span>Etiquetas:</span>
				  	<button type="button" class="btn btn-default btn-xs">Django 1.6</button>
				  </p>
				</blockquote>
				<hr>

			  </div>
			</div>

			

				
		</div>
	</div>
</div>

{% endblock %}